<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>50</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 1</key>
      <dict>
        <key>position</key>
        <integer>-418</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>t: 0</key>
      <dict>
        <key>position</key>
        <integer>1250</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 1</key>
      <dict>
        <key>position</key>
        <integer>1588</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>Y: 11</key>
      <dict>
        <key>width</key>
        <integer>11</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>245</key>
          <integer>2</integer>
          <key>466</key>
          <integer>3</integer>
          <key>652</key>
          <integer>4</integer>
          <key>838</key>
          <integer>5</integer>
          <key>1024</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 229</key>
      <dict>
        <key>width</key>
        <integer>229</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>24</key>
          <integer>3</integer>
          <key>27</key>
          <integer>4</integer>
          <key>43</key>
          <integer>5</integer>
          <key>50</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 257</key>
      <dict>
        <key>width</key>
        <integer>257</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>17</key>
          <integer>3</integer>
          <key>27</key>
          <integer>4</integer>
          <key>32</key>
          <integer>5</integer>
          <key>44</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 283</key>
      <dict>
        <key>width</key>
        <integer>283</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>17</key>
          <integer>3</integer>
          <key>27</key>
          <integer>4</integer>
          <key>32</key>
          <integer>5</integer>
          <key>40</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 290</key>
      <dict>
        <key>width</key>
        <integer>290</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>17</key>
          <integer>3</integer>
          <key>27</key>
          <integer>4</integer>
          <key>32</key>
          <integer>5</integer>
          <key>39</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 293</key>
      <dict>
        <key>width</key>
        <integer>293</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>17</key>
          <integer>3</integer>
          <key>27</key>
          <integer>4</integer>
          <key>32</key>
          <integer>5</integer>
          <key>39</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 333</key>
      <dict>
        <key>width</key>
        <integer>333</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>17</key>
          <integer>3</integer>
          <key>21</key>
          <integer>4</integer>
          <key>26</key>
          <integer>5</integer>
          <key>34</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 247</key>
      <dict>
        <key>width</key>
        <integer>247</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>24</key>
          <integer>3</integer>
          <key>27</key>
          <integer>4</integer>
          <key>43</key>
          <integer>5</integer>
          <key>46</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 421</key>
      <dict>
        <key>width</key>
        <integer>421</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>8</key>
          <integer>2</integer>
          <key>12</key>
          <integer>3</integer>
          <key>17</key>
          <integer>4</integer>
          <key>21</key>
          <integer>5</integer>
          <key>27</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 353</key>
      <dict>
        <key>width</key>
        <integer>353</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>17</key>
          <integer>3</integer>
          <key>27</key>
          <integer>4</integer>
          <key>32</key>
          <integer>5</integer>
          <key>32</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 196</key>
      <dict>
        <key>width</key>
        <integer>196</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>24</key>
          <integer>3</integer>
          <key>37</key>
          <integer>4</integer>
          <key>43</key>
          <integer>5</integer>
          <key>58</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 15</key>
      <dict>
        <key>width</key>
        <integer>15</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>245</key>
          <integer>2</integer>
          <key>342</key>
          <integer>3</integer>
          <key>478</key>
          <integer>4</integer>
          <key>615</key>
          <integer>5</integer>
          <key>751</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 7</key>
      <dict>
        <key>width</key>
        <integer>7</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>439</key>
          <integer>2</integer>
          <key>732</key>
          <integer>3</integer>
          <key>1024</key>
          <integer>4</integer>
          <key>1317</key>
          <integer>5</integer>
          <key>1610</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 40</key>
      <dict>
        <key>width</key>
        <integer>40</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>77</key>
          <integer>2</integer>
          <key>128</key>
          <integer>3</integer>
          <key>180</key>
          <integer>4</integer>
          <key>231</key>
          <integer>5</integer>
          <key>282</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 118</key>
      <dict>
        <key>width</key>
        <integer>118</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>27</key>
          <integer>2</integer>
          <key>44</key>
          <integer>3</integer>
          <key>61</key>
          <integer>4</integer>
          <key>79</key>
          <integer>5</integer>
          <key>96</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 506</key>
      <dict>
        <key>width</key>
        <integer>506</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>8</key>
          <integer>2</integer>
          <key>12</key>
          <integer>3</integer>
          <key>17</key>
          <integer>4</integer>
          <key>21</key>
          <integer>5</integer>
          <key>23</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 662</key>
      <dict>
        <key>width</key>
        <integer>662</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>8</key>
          <integer>2</integer>
          <key>8</key>
          <integer>3</integer>
          <key>11</key>
          <integer>4</integer>
          <key>14</key>
          <integer>5</integer>
          <key>18</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 352</key>
      <dict>
        <key>width</key>
        <integer>352</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>8</key>
          <integer>2</integer>
          <key>17</key>
          <integer>3</integer>
          <key>21</key>
          <integer>4</integer>
          <key>26</key>
          <integer>5</integer>
          <key>32</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 356</key>
      <dict>
        <key>width</key>
        <integer>356</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>8</key>
          <integer>2</integer>
          <key>17</key>
          <integer>3</integer>
          <key>21</key>
          <integer>4</integer>
          <key>26</key>
          <integer>5</integer>
          <key>32</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 394</key>
      <dict>
        <key>width</key>
        <integer>394</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>8</key>
          <integer>2</integer>
          <key>12</key>
          <integer>3</integer>
          <key>21</key>
          <integer>4</integer>
          <key>26</key>
          <integer>5</integer>
          <key>29</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 441</key>
      <dict>
        <key>width</key>
        <integer>441</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>8</key>
          <integer>2</integer>
          <key>12</key>
          <integer>3</integer>
          <key>17</key>
          <integer>4</integer>
          <key>21</key>
          <integer>5</integer>
          <key>26</key>
          <integer>6</integer>
        </dict>
      </dict>
    </dict>
  </dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>12896</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>2003</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1268</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-315</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1793</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>561</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1625</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>527</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>848</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1095</real>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>CR</string>
    <string>space</string>
    <string>i</string>
    <string>a</string>
    <string>n</string>
    <string>e</string>
    <string>s</string>
    <string>H</string>
    <string>A</string>
    <string>O</string>
    <string>I</string>
    <string>E</string>
    <string>S</string>
    <string>N</string>
    <string>exclam</string>
    <string>period</string>
    <string>comma</string>
    <string>question</string>
    <string>acute.cap</string>
    <string>Itilde</string>
    <string>y</string>
    <string>g</string>
    <string>p</string>
    <string>l</string>
    <string>k</string>
    <string>r</string>
    <string>u</string>
    <string>q</string>
    <string>t</string>
    <string>f</string>
    <string>m</string>
    <string>b</string>
    <string>T</string>
    <string>F</string>
    <string>sacute</string>
    <string>j</string>
    <string>x</string>
    <string>z</string>
    <string>periodcentered</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>exclamdown</string>
    <string>D</string>
    <string>o</string>
    <string>d</string>
    <string>w</string>
    <string>C</string>
    <string>B</string>
    <string>R</string>
    <string>L</string>
    <string>J</string>
    <string>bullet</string>
    <string>P</string>
    <string>K</string>
    <string>questiondown</string>
    <string>v</string>
    <string>G</string>
    <string>M</string>
    <string>V</string>
    <string>W</string>
    <string>Q</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>U</string>
    <string>one</string>
    <string>two</string>
    <string>ring</string>
    <string>grave</string>
    <string>tilde</string>
    <string>dieresis</string>
    <string>c</string>
    <string>acute</string>
    <string>cacute</string>
    <string>three</string>
    <string>circumflex</string>
    <string>Aring</string>
    <string>Edieresis</string>
    <string>lslash</string>
    <string>nbspace</string>
    <string>h</string>
    <string>uni0003</string>
    <string>uni0004</string>
    <string>uni0006</string>
    <string>uni0005</string>
    <string>uni0007</string>
    <string>uni0008</string>
    <string>uni0015</string>
    <string>uni0016</string>
    <string>uni0017</string>
    <string>uni0018</string>
    <string>uni0019</string>
    <string>uni00AD</string>
    <string>ellipsis</string>
    <string>seven</string>
    <string>zero</string>
    <string>five</string>
    <string>eight</string>
    <string>four</string>
    <string>six</string>
    <string>nine</string>
    <string>cent</string>
    <string>dollar</string>
    <string>Euro</string>
    <string>sterling</string>
    <string>yen</string>
    <string>at</string>
    <string>asterisk</string>
    <string>macron</string>
    <string>oslash</string>
    <string>caron</string>
    <string>ccedilla</string>
    <string>cedilla</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>ampersand</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>bar</string>
    <string>brokenbar</string>
    <string>quoteright</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>endash</string>
    <string>emdash</string>
    <string>hyphen</string>
    <string>currency</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>quotesingle</string>
    <string>quotedbl</string>
    <string>slash</string>
    <string>backslash</string>
    <string>plus</string>
    <string>asciitilde</string>
    <string>underscore</string>
    <string>plusminus</string>
    <string>equal</string>
    <string>hbar</string>
    <string>less</string>
    <string>greater</string>
    <string>multiply</string>
    <string>divide</string>
    <string>numbersign</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>paragraph</string>
    <string>percent</string>
    <string>degree</string>
    <string>registered</string>
    <string>copyright</string>
    <string>mu</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>asciicircum</string>
    <string>thorn</string>
    <string>logicalnot</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>dotlessi</string>
    <string>itilde</string>
    <string>ij</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>nacute</string>
    <string>ntilde</string>
    <string>oe</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>ae</string>
    <string>egrave</string>
    <string>igrave</string>
    <string>ograve</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>Thorn</string>
    <string>commaaccent</string>
    <string>kcommaaccent</string>
    <string>rcommaaccent</string>
    <string>kgreenlandic</string>
    <string>eth</string>
    <string>germandbls</string>
    <string>dotlessj</string>
    <string>jcircumflex</string>
    <string>Oslash</string>
    <string>dieresis.cap</string>
    <string>Idieresis</string>
    <string>Odieresis</string>
    <string>circumflex.cap</string>
    <string>tilde.cap</string>
    <string>Icircumflex</string>
    <string>Jcircumflex</string>
    <string>Ntilde</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>grave.cap</string>
    <string>Ograve</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>ring.cap</string>
    <string>Racute</string>
    <string>Rcommaaccent</string>
    <string>AE</string>
    <string>OE</string>
    <string>Lslash</string>
    <string>caron.cap</string>
    <string>Rcaron</string>
    <string>Eth</string>
    <string>Ccedilla</string>
    <string>section</string>
    <string>ldot</string>
    <string>onequarter</string>
    <string>rcaron</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>fraction</string>
    <string>Ldot</string>
    <string>macron.cap</string>
    <string>minus</string>
    <string>Kcommaaccent</string>
    <string>LF</string>
    <string>HT</string>
    <string>DEL</string>
    <string>US</string>
    <string>RS</string>
    <string>DC4</string>
    <string>DC3</string>
    <string>DC2</string>
    <string>DC1</string>
    <string>DLE</string>
    <string>trademark</string>
    <string>uni0001</string>
    <string>uni0002</string>
    <string>uni03BC</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>scaron</string>
    <string>florin</string>
    <string>Scaron</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>aacute</string>
    <string>agrave</string>
    <string>adieresis</string>
    <string>atilde</string>
    <string>acircumflex</string>
    <string>aring</string>
    <string>Uacute</string>
    <string>Ugrave</string>
    <string>Udieresis</string>
    <string>Ucircumflex</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
    <string>Aacute</string>
    <string>Agrave</string>
    <string>Adieresis</string>
    <string>Atilde</string>
    <string>Acircumflex</string>
    <string>IJ</string>
    <string>Nacute</string>
    <string>i.cy</string>
    <string>uni0218</string>
    <string>uni0219</string>
    <string>uni0162</string>
    <string>uni0163</string>
    <string>uni021A</string>
    <string>uni021B</string>
    <string>perthousand</string>
    <string>f_f</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>zdotaccent</string>
    <string>Zdotaccent</string>
    <string>dotaccent</string>
    <string>dotaccent.cap</string>
    <string>NULL</string>
    <string>zerowidthspace</string>
    <string>enspace</string>
    <string>quotereversed</string>
    <string>fi</string>
    <string>f_i_trk</string>
    <string>fl</string>
    <string>f_f_i_trk</string>
    <string>Oslashacute</string>
    <string>oslashacute</string>
    <string>uni1E41</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>omacron</string>
    <string>edotaccent</string>
    <string>scircumflex</string>
    <string>uni1E61</string>
    <string>uni1E6B</string>
    <string>umacron</string>
    <string>zacute</string>
    <string>ycircumflex</string>
    <string>ygrave</string>
    <string>wcircumflex</string>
    <string>wacute</string>
    <string>wgrave</string>
    <string>uni0300</string>
    <string>uni0300.cap</string>
    <string>uni0301</string>
    <string>uni0301.cap</string>
    <string>uni0303</string>
    <string>uni0303.cap</string>
    <string>uni0312</string>
    <string>uni0313</string>
    <string>uni0323</string>
    <string>uni0326</string>
    <string>uni0327</string>
    <string>uni0331</string>
    <string>uni0302</string>
    <string>uni0302.cap</string>
    <string>uni030C</string>
    <string>uni030C.cap</string>
    <string>uni0308</string>
    <string>uni0308.cap</string>
    <string>uni0304</string>
    <string>uni0304.cap</string>
    <string>uni030A</string>
    <string>uni030A.cap</string>
    <string>uni0307</string>
    <string>uni0307.cap</string>
    <string>ccaron</string>
    <string>ccircumflex</string>
    <string>uni015F</string>
    <string>uni015E</string>
    <string>amacron</string>
    <string>gcommaaccent</string>
    <string>racute</string>
    <string>uni1E57</string>
    <string>utilde</string>
    <string>uring</string>
    <string>wdieresis</string>
    <string>uni01CE</string>
    <string>uni1E5B</string>
    <string>uni1E49</string>
    <string>uni1E47</string>
    <string>uni1E45</string>
    <string>uni1E43</string>
    <string>uni1E3B</string>
    <string>uni1E37</string>
    <string>uni01D0</string>
    <string>uni1E25</string>
    <string>uni1E21</string>
    <string>gtilde</string>
    <string>gcaron</string>
    <string>uni1E0F</string>
    <string>uni1E0D</string>
    <string>uni1E5F</string>
    <string>uni1E63</string>
    <string>uni1E6D</string>
    <string>uni1E6F</string>
    <string>uni1E8F</string>
    <string>uni1E93</string>
    <string>Amacron</string>
    <string>uni01C8</string>
    <string>uni01CB</string>
    <string>uni01F2</string>
    <string>uni01CA</string>
    <string>uni01C7</string>
    <string>uni01F1</string>
    <string>uni01C4</string>
    <string>Dcaron</string>
    <string>Ccaron</string>
    <string>Emacron</string>
    <string>uni1E40</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Lcommaaccent</string>
    <string>Idotaccent</string>
    <string>Imacron</string>
    <string>uni01C5</string>
    <string>gdotaccent</string>
    <string>ecaron</string>
    <string>emacron</string>
    <string>uni01CC</string>
    <string>uni01C9</string>
    <string>uni01F3</string>
    <string>uni01C6</string>
    <string>Cdotaccent</string>
    <string>Ccircumflex</string>
    <string>Cacute</string>
    <string>uni1E02</string>
    <string>Ecaron</string>
    <string>Edotaccent</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
    <string>Gcommaaccent</string>
    <string>uni01F4</string>
    <string>uni1E1E</string>
    <string>Omacron</string>
    <string>uni1E56</string>
    <string>Sacute</string>
    <string>uni1E60</string>
    <string>Scircumflex</string>
    <string>Uring</string>
    <string>Utilde</string>
    <string>Umacron</string>
    <string>Ygrave</string>
    <string>Ycircumflex</string>
    <string>Zacute</string>
    <string>uni1E92</string>
    <string>uni1E8E</string>
    <string>uni1E6E</string>
    <string>uni1E6C</string>
    <string>uni1E62</string>
    <string>uni1E5E</string>
    <string>uni1E5A</string>
    <string>uni01D1</string>
    <string>uni1E48</string>
    <string>uni1E46</string>
    <string>uni1E44</string>
    <string>uni1E42</string>
    <string>uni1E3A</string>
    <string>uni1E36</string>
    <string>uni1E24</string>
    <string>uni1E20</string>
    <string>Gtilde</string>
    <string>Gcaron</string>
    <string>uni1E0E</string>
    <string>uni1E0C</string>
    <string>uni01CD</string>
    <string>uni1E6A</string>
    <string>Tcaron</string>
    <string>Wacute</string>
    <string>Wgrave</string>
    <string>Wdieresis</string>
    <string>Wcircumflex</string>
    <string>uni1E0A</string>
    <string>AEacute</string>
    <string>Dcroat</string>
    <string>uni01D4</string>
    <string>IJ_acutecomb</string>
    <string>cdotaccent</string>
    <string>ij_acutecomb</string>
  </array>
</dict>
</plist>
