<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>__notdef.glif</string>
  <key>CR</key>
  <string>CR__.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>acute.cap</key>
  <string>acute.cap.glif</string>
  <key>Itilde</key>
  <string>Itilde_.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>sacute</key>
  <string>sacute.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>cacute</key>
  <string>cacute.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>Aring</key>
  <string>Aring_.glif</string>
  <key>Edieresis</key>
  <string>Edieresis_.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>uni0003</key>
  <string>uni0003.glif</string>
  <key>uni0004</key>
  <string>uni0004.glif</string>
  <key>uni0006</key>
  <string>uni0006.glif</string>
  <key>uni0005</key>
  <string>uni0005.glif</string>
  <key>uni0007</key>
  <string>uni0007.glif</string>
  <key>uni0008</key>
  <string>uni0008.glif</string>
  <key>uni0015</key>
  <string>uni0015.glif</string>
  <key>uni0016</key>
  <string>uni0016.glif</string>
  <key>uni0017</key>
  <string>uni0017.glif</string>
  <key>uni0018</key>
  <string>uni0018.glif</string>
  <key>uni0019</key>
  <string>uni0019.glif</string>
  <key>uni00AD</key>
  <string>uni00AD__.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>Euro</key>
  <string>Euro_.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>hbar</key>
  <string>hbar.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>itilde</key>
  <string>itilde.glif</string>
  <key>ij</key>
  <string>ij.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>nacute</key>
  <string>nacute.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>Thorn</key>
  <string>Thorn_.glif</string>
  <key>commaaccent</key>
  <string>commaaccent.glif</string>
  <key>kcommaaccent</key>
  <string>kcommaaccent.glif</string>
  <key>rcommaaccent</key>
  <string>rcommaaccent.glif</string>
  <key>kgreenlandic</key>
  <string>kgreenlandic.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>dotlessj</key>
  <string>dotlessj.glif</string>
  <key>jcircumflex</key>
  <string>jcircumflex.glif</string>
  <key>Oslash</key>
  <string>Oslash_.glif</string>
  <key>dieresis.cap</key>
  <string>dieresis.cap.glif</string>
  <key>Idieresis</key>
  <string>Idieresis_.glif</string>
  <key>Odieresis</key>
  <string>Odieresis_.glif</string>
  <key>circumflex.cap</key>
  <string>circumflex.cap.glif</string>
  <key>tilde.cap</key>
  <string>tilde.cap.glif</string>
  <key>Icircumflex</key>
  <string>Icircumflex_.glif</string>
  <key>Jcircumflex</key>
  <string>Jcircumflex_.glif</string>
  <key>Ntilde</key>
  <string>Ntilde_.glif</string>
  <key>Oacute</key>
  <string>Oacute_.glif</string>
  <key>Ocircumflex</key>
  <string>Ocircumflex_.glif</string>
  <key>Otilde</key>
  <string>Otilde_.glif</string>
  <key>grave.cap</key>
  <string>grave.cap.glif</string>
  <key>Ograve</key>
  <string>Ograve_.glif</string>
  <key>Egrave</key>
  <string>Egrave_.glif</string>
  <key>Eacute</key>
  <string>Eacute_.glif</string>
  <key>Ecircumflex</key>
  <string>Ecircumflex_.glif</string>
  <key>Igrave</key>
  <string>Igrave_.glif</string>
  <key>Iacute</key>
  <string>Iacute_.glif</string>
  <key>ring.cap</key>
  <string>ring.cap.glif</string>
  <key>Racute</key>
  <string>Racute_.glif</string>
  <key>Rcommaaccent</key>
  <string>Rcommaaccent_.glif</string>
  <key>AE</key>
  <string>AE__.glif</string>
  <key>OE</key>
  <string>OE__.glif</string>
  <key>Lslash</key>
  <string>Lslash_.glif</string>
  <key>caron.cap</key>
  <string>caron.cap.glif</string>
  <key>Rcaron</key>
  <string>Rcaron_.glif</string>
  <key>Eth</key>
  <string>Eth_.glif</string>
  <key>Ccedilla</key>
  <string>Ccedilla_.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>ldot</key>
  <string>ldot.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>rcaron</key>
  <string>rcaron.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>Ldot</key>
  <string>Ldot_.glif</string>
  <key>macron.cap</key>
  <string>macron.cap.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>Kcommaaccent</key>
  <string>Kcommaaccent_.glif</string>
  <key>LF</key>
  <string>LF__.glif</string>
  <key>HT</key>
  <string>HT__.glif</string>
  <key>DEL</key>
  <string>DEL___.glif</string>
  <key>US</key>
  <string>US__.glif</string>
  <key>RS</key>
  <string>RS__.glif</string>
  <key>DC4</key>
  <string>DC4__.glif</string>
  <key>DC3</key>
  <string>DC3__.glif</string>
  <key>DC2</key>
  <string>DC2__.glif</string>
  <key>DC1</key>
  <string>DC1__.glif</string>
  <key>DLE</key>
  <string>DLE___.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>uni0001</key>
  <string>uni0001.glif</string>
  <key>uni0002</key>
  <string>uni0002.glif</string>
  <key>uni03BC</key>
  <string>uni03BC__.glif</string>
  <key>Zcaron</key>
  <string>Zcaron_.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>Scaron</key>
  <string>Scaron_.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>Uacute</key>
  <string>Uacute_.glif</string>
  <key>Ugrave</key>
  <string>Ugrave_.glif</string>
  <key>Udieresis</key>
  <string>Udieresis_.glif</string>
  <key>Ucircumflex</key>
  <string>Ucircumflex_.glif</string>
  <key>Yacute</key>
  <string>Yacute_.glif</string>
  <key>Ydieresis</key>
  <string>Ydieresis_.glif</string>
  <key>Aacute</key>
  <string>Aacute_.glif</string>
  <key>Agrave</key>
  <string>Agrave_.glif</string>
  <key>Adieresis</key>
  <string>Adieresis_.glif</string>
  <key>Atilde</key>
  <string>Atilde_.glif</string>
  <key>Acircumflex</key>
  <string>Acircumflex_.glif</string>
  <key>IJ</key>
  <string>IJ__.glif</string>
  <key>Nacute</key>
  <string>Nacute_.glif</string>
  <key>i.cy</key>
  <string>i.cy.glif</string>
  <key>uni0218</key>
  <string>uni0218.glif</string>
  <key>uni0219</key>
  <string>uni0219.glif</string>
  <key>uni0162</key>
  <string>uni0162.glif</string>
  <key>uni0163</key>
  <string>uni0163.glif</string>
  <key>uni021A</key>
  <string>uni021A_.glif</string>
  <key>uni021B</key>
  <string>uni021B_.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>f_f</key>
  <string>f_f.glif</string>
  <key>f_f_i</key>
  <string>f_f_i.glif</string>
  <key>f_f_l</key>
  <string>f_f_l.glif</string>
  <key>zdotaccent</key>
  <string>zdotaccent.glif</string>
  <key>Zdotaccent</key>
  <string>Zdotaccent_.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotaccent.cap</key>
  <string>dotaccent.cap.glif</string>
  <key>NULL</key>
  <string>NULL____.glif</string>
  <key>zerowidthspace</key>
  <string>zerowidthspace.glif</string>
  <key>enspace</key>
  <string>enspace.glif</string>
  <key>quotereversed</key>
  <string>quotereversed.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>f_i_trk</key>
  <string>f_i_trk.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>f_f_i_trk</key>
  <string>f_f_i_trk.glif</string>
  <key>Oslashacute</key>
  <string>Oslashacute_.glif</string>
  <key>oslashacute</key>
  <string>oslashacute.glif</string>
  <key>uni1E41</key>
  <string>uni1E41_.glif</string>
  <key>ncaron</key>
  <string>ncaron.glif</string>
  <key>ncommaaccent</key>
  <string>ncommaaccent.glif</string>
  <key>omacron</key>
  <string>omacron.glif</string>
  <key>edotaccent</key>
  <string>edotaccent.glif</string>
  <key>scircumflex</key>
  <string>scircumflex.glif</string>
  <key>uni1E61</key>
  <string>uni1E61_.glif</string>
  <key>uni1E6B</key>
  <string>uni1E6B__.glif</string>
  <key>umacron</key>
  <string>umacron.glif</string>
  <key>zacute</key>
  <string>zacute.glif</string>
  <key>ycircumflex</key>
  <string>ycircumflex.glif</string>
  <key>ygrave</key>
  <string>ygrave.glif</string>
  <key>wcircumflex</key>
  <string>wcircumflex.glif</string>
  <key>wacute</key>
  <string>wacute.glif</string>
  <key>wgrave</key>
  <string>wgrave.glif</string>
  <key>uni0300</key>
  <string>uni0300.glif</string>
  <key>uni0300.cap</key>
  <string>uni0300.cap.glif</string>
  <key>uni0301</key>
  <string>uni0301.glif</string>
  <key>uni0301.cap</key>
  <string>uni0301.cap.glif</string>
  <key>uni0303</key>
  <string>uni0303.glif</string>
  <key>uni0303.cap</key>
  <string>uni0303.cap.glif</string>
  <key>uni0312</key>
  <string>uni0312.glif</string>
  <key>uni0313</key>
  <string>uni0313.glif</string>
  <key>uni0323</key>
  <string>uni0323.glif</string>
  <key>uni0326</key>
  <string>uni0326.glif</string>
  <key>uni0327</key>
  <string>uni0327.glif</string>
  <key>uni0331</key>
  <string>uni0331.glif</string>
  <key>uni0302</key>
  <string>uni0302.glif</string>
  <key>uni0302.cap</key>
  <string>uni0302.cap.glif</string>
  <key>uni030C</key>
  <string>uni030C_.glif</string>
  <key>uni030C.cap</key>
  <string>uni030C_.cap.glif</string>
  <key>uni0308</key>
  <string>uni0308.glif</string>
  <key>uni0308.cap</key>
  <string>uni0308.cap.glif</string>
  <key>uni0304</key>
  <string>uni0304.glif</string>
  <key>uni0304.cap</key>
  <string>uni0304.cap.glif</string>
  <key>uni030A</key>
  <string>uni030A_.glif</string>
  <key>uni030A.cap</key>
  <string>uni030A_.cap.glif</string>
  <key>uni0307</key>
  <string>uni0307.glif</string>
  <key>uni0307.cap</key>
  <string>uni0307.cap.glif</string>
  <key>ccaron</key>
  <string>ccaron.glif</string>
  <key>ccircumflex</key>
  <string>ccircumflex.glif</string>
  <key>uni015F</key>
  <string>uni015F_.glif</string>
  <key>uni015E</key>
  <string>uni015E_.glif</string>
  <key>amacron</key>
  <string>amacron.glif</string>
  <key>gcommaaccent</key>
  <string>gcommaaccent.glif</string>
  <key>racute</key>
  <string>racute.glif</string>
  <key>uni1E57</key>
  <string>uni1E57_.glif</string>
  <key>utilde</key>
  <string>utilde.glif</string>
  <key>uring</key>
  <string>uring.glif</string>
  <key>wdieresis</key>
  <string>wdieresis.glif</string>
  <key>uni01CE</key>
  <string>uni01CE__.glif</string>
  <key>uni1E5B</key>
  <string>uni1E5B__.glif</string>
  <key>uni1E49</key>
  <string>uni1E49_.glif</string>
  <key>uni1E47</key>
  <string>uni1E47_.glif</string>
  <key>uni1E45</key>
  <string>uni1E45_.glif</string>
  <key>uni1E43</key>
  <string>uni1E43_.glif</string>
  <key>uni1E3B</key>
  <string>uni1E3B__.glif</string>
  <key>uni1E37</key>
  <string>uni1E37_.glif</string>
  <key>uni01D0</key>
  <string>uni01D0_.glif</string>
  <key>uni1E25</key>
  <string>uni1E25_.glif</string>
  <key>uni1E21</key>
  <string>uni1E21_.glif</string>
  <key>gtilde</key>
  <string>gtilde.glif</string>
  <key>gcaron</key>
  <string>gcaron.glif</string>
  <key>uni1E0F</key>
  <string>uni1E0F__.glif</string>
  <key>uni1E0D</key>
  <string>uni1E0D__.glif</string>
  <key>uni1E5F</key>
  <string>uni1E5F__.glif</string>
  <key>uni1E63</key>
  <string>uni1E63_.glif</string>
  <key>uni1E6D</key>
  <string>uni1E6D__.glif</string>
  <key>uni1E6F</key>
  <string>uni1E6F__.glif</string>
  <key>uni1E8F</key>
  <string>uni1E8F__.glif</string>
  <key>uni1E93</key>
  <string>uni1E93_.glif</string>
  <key>Amacron</key>
  <string>Amacron_.glif</string>
  <key>uni01C8</key>
  <string>uni01C8_.glif</string>
  <key>uni01CB</key>
  <string>uni01CB__.glif</string>
  <key>uni01F2</key>
  <string>uni01F2_.glif</string>
  <key>uni01CA</key>
  <string>uni01CA__.glif</string>
  <key>uni01C7</key>
  <string>uni01C7_.glif</string>
  <key>uni01F1</key>
  <string>uni01F1_.glif</string>
  <key>uni01C4</key>
  <string>uni01C4_.glif</string>
  <key>Dcaron</key>
  <string>Dcaron_.glif</string>
  <key>Ccaron</key>
  <string>Ccaron_.glif</string>
  <key>Emacron</key>
  <string>Emacron_.glif</string>
  <key>uni1E40</key>
  <string>uni1E40_.glif</string>
  <key>Ncaron</key>
  <string>Ncaron_.glif</string>
  <key>Ncommaaccent</key>
  <string>Ncommaaccent_.glif</string>
  <key>Lcommaaccent</key>
  <string>Lcommaaccent_.glif</string>
  <key>Idotaccent</key>
  <string>Idotaccent_.glif</string>
  <key>Imacron</key>
  <string>Imacron_.glif</string>
  <key>uni01C5</key>
  <string>uni01C5_.glif</string>
  <key>gdotaccent</key>
  <string>gdotaccent.glif</string>
  <key>ecaron</key>
  <string>ecaron.glif</string>
  <key>emacron</key>
  <string>emacron.glif</string>
  <key>uni01CC</key>
  <string>uni01CC__.glif</string>
  <key>uni01C9</key>
  <string>uni01C9_.glif</string>
  <key>uni01F3</key>
  <string>uni01F3_.glif</string>
  <key>uni01C6</key>
  <string>uni01C6_.glif</string>
  <key>Cdotaccent</key>
  <string>Cdotaccent_.glif</string>
  <key>Ccircumflex</key>
  <string>Ccircumflex_.glif</string>
  <key>Cacute</key>
  <string>Cacute_.glif</string>
  <key>uni1E02</key>
  <string>uni1E02_.glif</string>
  <key>Ecaron</key>
  <string>Ecaron_.glif</string>
  <key>Edotaccent</key>
  <string>Edotaccent_.glif</string>
  <key>Gcircumflex</key>
  <string>Gcircumflex_.glif</string>
  <key>Gdotaccent</key>
  <string>Gdotaccent_.glif</string>
  <key>Gcommaaccent</key>
  <string>Gcommaaccent_.glif</string>
  <key>uni01F4</key>
  <string>uni01F4_.glif</string>
  <key>uni1E1E</key>
  <string>uni1E1E__.glif</string>
  <key>Omacron</key>
  <string>Omacron_.glif</string>
  <key>uni1E56</key>
  <string>uni1E56_.glif</string>
  <key>Sacute</key>
  <string>Sacute_.glif</string>
  <key>uni1E60</key>
  <string>uni1E60_.glif</string>
  <key>Scircumflex</key>
  <string>Scircumflex_.glif</string>
  <key>Uring</key>
  <string>Uring_.glif</string>
  <key>Utilde</key>
  <string>Utilde_.glif</string>
  <key>Umacron</key>
  <string>Umacron_.glif</string>
  <key>Ygrave</key>
  <string>Ygrave_.glif</string>
  <key>Ycircumflex</key>
  <string>Ycircumflex_.glif</string>
  <key>Zacute</key>
  <string>Zacute_.glif</string>
  <key>uni1E92</key>
  <string>uni1E92_.glif</string>
  <key>uni1E8E</key>
  <string>uni1E8E__.glif</string>
  <key>uni1E6E</key>
  <string>uni1E6E__.glif</string>
  <key>uni1E6C</key>
  <string>uni1E6C__.glif</string>
  <key>uni1E62</key>
  <string>uni1E62_.glif</string>
  <key>uni1E5E</key>
  <string>uni1E5E__.glif</string>
  <key>uni1E5A</key>
  <string>uni1E5A__.glif</string>
  <key>uni01D1</key>
  <string>uni01D1_.glif</string>
  <key>uni1E48</key>
  <string>uni1E48_.glif</string>
  <key>uni1E46</key>
  <string>uni1E46_.glif</string>
  <key>uni1E44</key>
  <string>uni1E44_.glif</string>
  <key>uni1E42</key>
  <string>uni1E42_.glif</string>
  <key>uni1E3A</key>
  <string>uni1E3A__.glif</string>
  <key>uni1E36</key>
  <string>uni1E36_.glif</string>
  <key>uni1E24</key>
  <string>uni1E24_.glif</string>
  <key>uni1E20</key>
  <string>uni1E20_.glif</string>
  <key>Gtilde</key>
  <string>Gtilde_.glif</string>
  <key>Gcaron</key>
  <string>Gcaron_.glif</string>
  <key>uni1E0E</key>
  <string>uni1E0E__.glif</string>
  <key>uni1E0C</key>
  <string>uni1E0C__.glif</string>
  <key>uni01CD</key>
  <string>uni01CD__.glif</string>
  <key>uni1E6A</key>
  <string>uni1E6A__.glif</string>
  <key>Tcaron</key>
  <string>Tcaron_.glif</string>
  <key>Wacute</key>
  <string>Wacute_.glif</string>
  <key>Wgrave</key>
  <string>Wgrave_.glif</string>
  <key>Wdieresis</key>
  <string>Wdieresis_.glif</string>
  <key>Wcircumflex</key>
  <string>Wcircumflex_.glif</string>
  <key>uni1E0A</key>
  <string>uni1E0A__.glif</string>
  <key>AEacute</key>
  <string>AEacute__.glif</string>
  <key>Dcroat</key>
  <string>Dcroat_.glif</string>
  <key>uni01D4</key>
  <string>uni01D4_.glif</string>
  <key>IJ_acutecomb</key>
  <string>IJ___acutecomb.glif</string>
  <key>cdotaccent</key>
  <string>cdotaccent.glif</string>
  <key>ij_acutecomb</key>
  <string>ij_acutecomb.glif</string>
</dict>
</plist>
