<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.fontlab.v2.tth</key>
	<dict>
		<key>stems</key>
		<dict>
			<key>X: 118</key>
			<dict>
				<key>horizontal</key>
				<integer>0</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>27</key>
					<integer>2</integer>
					<key>44</key>
					<integer>3</integer>
					<key>61</key>
					<integer>4</integer>
					<key>79</key>
					<integer>5</integer>
					<key>96</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>118</integer>
			</dict>
			<key>X: 15</key>
			<dict>
				<key>horizontal</key>
				<integer>0</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>245</key>
					<integer>2</integer>
					<key>342</key>
					<integer>3</integer>
					<key>478</key>
					<integer>4</integer>
					<key>615</key>
					<integer>5</integer>
					<key>751</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>15</integer>
			</dict>
			<key>X: 196</key>
			<dict>
				<key>horizontal</key>
				<integer>0</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>12</key>
					<integer>2</integer>
					<key>24</key>
					<integer>3</integer>
					<key>37</key>
					<integer>4</integer>
					<key>43</key>
					<integer>5</integer>
					<key>58</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>196</integer>
			</dict>
			<key>X: 352</key>
			<dict>
				<key>horizontal</key>
				<integer>0</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>17</key>
					<integer>3</integer>
					<key>21</key>
					<integer>4</integer>
					<key>26</key>
					<integer>5</integer>
					<key>32</key>
					<integer>6</integer>
					<key>8</key>
					<integer>2</integer>
				</dict>
				<key>width</key>
				<integer>352</integer>
			</dict>
			<key>X: 353</key>
			<dict>
				<key>horizontal</key>
				<integer>0</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>12</key>
					<integer>2</integer>
					<key>17</key>
					<integer>3</integer>
					<key>27</key>
					<integer>4</integer>
					<key>32</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>353</integer>
			</dict>
			<key>X: 356</key>
			<dict>
				<key>horizontal</key>
				<integer>0</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>17</key>
					<integer>3</integer>
					<key>21</key>
					<integer>4</integer>
					<key>26</key>
					<integer>5</integer>
					<key>32</key>
					<integer>6</integer>
					<key>8</key>
					<integer>2</integer>
				</dict>
				<key>width</key>
				<integer>356</integer>
			</dict>
			<key>X: 394</key>
			<dict>
				<key>horizontal</key>
				<integer>0</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>12</key>
					<integer>3</integer>
					<key>21</key>
					<integer>4</integer>
					<key>26</key>
					<integer>5</integer>
					<key>29</key>
					<integer>6</integer>
					<key>8</key>
					<integer>2</integer>
				</dict>
				<key>width</key>
				<integer>394</integer>
			</dict>
			<key>X: 40</key>
			<dict>
				<key>horizontal</key>
				<integer>0</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>128</key>
					<integer>3</integer>
					<key>180</key>
					<integer>4</integer>
					<key>231</key>
					<integer>5</integer>
					<key>282</key>
					<integer>6</integer>
					<key>77</key>
					<integer>2</integer>
				</dict>
				<key>width</key>
				<integer>40</integer>
			</dict>
			<key>X: 441</key>
			<dict>
				<key>horizontal</key>
				<integer>0</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>12</key>
					<integer>3</integer>
					<key>17</key>
					<integer>4</integer>
					<key>21</key>
					<integer>5</integer>
					<key>26</key>
					<integer>6</integer>
					<key>8</key>
					<integer>2</integer>
				</dict>
				<key>width</key>
				<integer>441</integer>
			</dict>
			<key>X: 506</key>
			<dict>
				<key>horizontal</key>
				<integer>0</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>12</key>
					<integer>3</integer>
					<key>17</key>
					<integer>4</integer>
					<key>21</key>
					<integer>5</integer>
					<key>23</key>
					<integer>6</integer>
					<key>8</key>
					<integer>2</integer>
				</dict>
				<key>width</key>
				<integer>506</integer>
			</dict>
			<key>X: 662</key>
			<dict>
				<key>horizontal</key>
				<integer>0</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>11</key>
					<integer>4</integer>
					<key>14</key>
					<integer>5</integer>
					<key>18</key>
					<integer>6</integer>
					<key>8</key>
					<integer>3</integer>
				</dict>
				<key>width</key>
				<integer>662</integer>
			</dict>
			<key>X: 7</key>
			<dict>
				<key>horizontal</key>
				<integer>0</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>1024</key>
					<integer>4</integer>
					<key>1317</key>
					<integer>5</integer>
					<key>1610</key>
					<integer>6</integer>
					<key>439</key>
					<integer>2</integer>
					<key>732</key>
					<integer>3</integer>
				</dict>
				<key>width</key>
				<integer>7</integer>
			</dict>
			<key>Y: 11</key>
			<dict>
				<key>horizontal</key>
				<integer>1</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>1024</key>
					<integer>6</integer>
					<key>245</key>
					<integer>2</integer>
					<key>466</key>
					<integer>3</integer>
					<key>652</key>
					<integer>4</integer>
					<key>838</key>
					<integer>5</integer>
				</dict>
				<key>width</key>
				<integer>11</integer>
			</dict>
			<key>Y: 229</key>
			<dict>
				<key>horizontal</key>
				<integer>1</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>12</key>
					<integer>2</integer>
					<key>24</key>
					<integer>3</integer>
					<key>27</key>
					<integer>4</integer>
					<key>43</key>
					<integer>5</integer>
					<key>50</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>229</integer>
			</dict>
			<key>Y: 247</key>
			<dict>
				<key>horizontal</key>
				<integer>1</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>12</key>
					<integer>2</integer>
					<key>24</key>
					<integer>3</integer>
					<key>27</key>
					<integer>4</integer>
					<key>43</key>
					<integer>5</integer>
					<key>46</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>247</integer>
			</dict>
			<key>Y: 257</key>
			<dict>
				<key>horizontal</key>
				<integer>1</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>12</key>
					<integer>2</integer>
					<key>17</key>
					<integer>3</integer>
					<key>27</key>
					<integer>4</integer>
					<key>32</key>
					<integer>5</integer>
					<key>44</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>257</integer>
			</dict>
			<key>Y: 283</key>
			<dict>
				<key>horizontal</key>
				<integer>1</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>12</key>
					<integer>2</integer>
					<key>17</key>
					<integer>3</integer>
					<key>27</key>
					<integer>4</integer>
					<key>32</key>
					<integer>5</integer>
					<key>40</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>283</integer>
			</dict>
			<key>Y: 290</key>
			<dict>
				<key>horizontal</key>
				<integer>1</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>12</key>
					<integer>2</integer>
					<key>17</key>
					<integer>3</integer>
					<key>27</key>
					<integer>4</integer>
					<key>32</key>
					<integer>5</integer>
					<key>39</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>290</integer>
			</dict>
			<key>Y: 293</key>
			<dict>
				<key>horizontal</key>
				<integer>1</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>12</key>
					<integer>2</integer>
					<key>17</key>
					<integer>3</integer>
					<key>27</key>
					<integer>4</integer>
					<key>32</key>
					<integer>5</integer>
					<key>39</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>293</integer>
			</dict>
			<key>Y: 333</key>
			<dict>
				<key>horizontal</key>
				<integer>1</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>12</key>
					<integer>2</integer>
					<key>17</key>
					<integer>3</integer>
					<key>21</key>
					<integer>4</integer>
					<key>26</key>
					<integer>5</integer>
					<key>34</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>333</integer>
			</dict>
			<key>Y: 421</key>
			<dict>
				<key>horizontal</key>
				<integer>1</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>12</key>
					<integer>3</integer>
					<key>17</key>
					<integer>4</integer>
					<key>21</key>
					<integer>5</integer>
					<key>27</key>
					<integer>6</integer>
					<key>8</key>
					<integer>2</integer>
				</dict>
				<key>width</key>
				<integer>421</integer>
			</dict>
		</dict>
		<key>zones</key>
		<dict>
			<key>b: 0</key>
			<dict>
				<key>position</key>
				<integer>0</integer>
				<key>top</key>
				<integer>0</integer>
				<key>width</key>
				<integer>50</integer>
			</dict>
			<key>b: 1</key>
			<dict>
				<key>position</key>
				<integer>-418</integer>
				<key>top</key>
				<integer>0</integer>
				<key>width</key>
				<integer>0</integer>
			</dict>
			<key>t: 0</key>
			<dict>
				<key>position</key>
				<integer>1250</integer>
				<key>top</key>
				<integer>1</integer>
				<key>width</key>
				<integer>0</integer>
			</dict>
			<key>t: 1</key>
			<dict>
				<key>position</key>
				<integer>1588</integer>
				<key>top</key>
				<integer>1</integer>
				<key>width</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>27755B05-E310-4B11-A140-3F13B29BCF06</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>2003</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1268</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>-315</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1793</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>561</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1625</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>527</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>848</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1095</integer>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>Bdotaccent</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>DZ</string>
		<string>DZcaron</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotaccent</string>
		<string>Ddotbelow</string>
		<string>Dlinebelow</string>
		<string>Dz</string>
		<string>Dzcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>F</string>
		<string>Fdotaccent</string>
		<string>G</string>
		<string>Gacute</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Gmacron</string>
		<string>H</string>
		<string>Hdotbelow</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>LJ</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Ldotbelow</string>
		<string>Lj</string>
		<string>Llinebelow</string>
		<string>Lslash</string>
		<string>M</string>
		<string>Mdotaccent</string>
		<string>Mdotbelow</string>
		<string>N</string>
		<string>NJ</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ndotbelow</string>
		<string>Nj</string>
		<string>Nlinebelow</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Pdotaccent</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Rdotbelow</string>
		<string>Rlinebelow</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Sdotaccent</string>
		<string>Sdotbelow</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotaccent</string>
		<string>Tdotbelow</string>
		<string>Tlinebelow</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotaccent</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zdotbelow</string>
		<string>a</string>
		<string>aacute</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>ddotbelow</string>
		<string>dlinebelow</string>
		<string>dz</string>
		<string>dzcaron</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>f</string>
		<string>g</string>
		<string>gcaron</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>gmacron</string>
		<string>h</string>
		<string>hbar</string>
		<string>hdotbelow</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>itilde</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>ldot</string>
		<string>ldotbelow</string>
		<string>lj</string>
		<string>llinebelow</string>
		<string>lslash</string>
		<string>m</string>
		<string>mdotaccent</string>
		<string>mdotbelow</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>nj</string>
		<string>nlinebelow</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>pdotaccent</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdotbelow</string>
		<string>rlinebelow</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>sdotaccent</string>
		<string>sdotbelow</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tdotaccent</string>
		<string>tdotbelow</string>
		<string>tlinebelow</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>umacron</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotaccent</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zdotbelow</string>
		<string>i.cy</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_i_trk</string>
		<string>f_f_l</string>
		<string>f_i_trk</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>IJ_acutecomb</string>
		<string>ij_acutecomb</string>
		<string>mu</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quotereversed</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>enspace</string>
		<string>space</string>
		<string>nbspace</string>
		<string>zerowidthspace</string>
		<string>CR</string>
		<string>DEL</string>
		<string>.notdef</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>euro</string>
		<string>florin</string>
		<string>sterling</string>
		<string>yen</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>logicalnot</string>
		<string>micro</string>
		<string>minus</string>
		<string>multiply</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>circumflexcomb</string>
		<string>caroncomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>macroncomb</string>
		<string>commaturnedabovecomb</string>
		<string>commaabovecomb</string>
		<string>dotbelowcomb</string>
		<string>commaaccentcomb</string>
		<string>commaaccentcomb</string>
		<string>cedillacomb</string>
		<string>macronbelowcomb</string>
		<string>dieresiscomb.cap</string>
		<string>dotaccentcomb.cap</string>
		<string>gravecomb.cap</string>
		<string>acutecomb.cap</string>
		<string>circumflexcomb.cap</string>
		<string>caroncomb.cap</string>
		<string>ringcomb.cap</string>
		<string>tildecomb.cap</string>
		<string>macroncomb.cap</string>
		<string>acute</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>macron</string>
		<string>ring</string>
		<string>tilde</string>
		<string>acute.cap</string>
		<string>caron.cap</string>
		<string>circumflex.cap</string>
		<string>dieresis.cap</string>
		<string>dotaccent.cap</string>
		<string>grave.cap</string>
		<string>macron.cap</string>
		<string>ring.cap</string>
		<string>tilde.cap</string>
		<string>DC1</string>
		<string>DC2</string>
		<string>DC3</string>
		<string>DC4</string>
		<string>DLE</string>
		<string>Gtilde</string>
		<string>gtilde</string>
		<string>HT</string>
		<string>LF</string>
		<string>NULL</string>
		<string>RS</string>
		<string>uni0001</string>
		<string>uni0002</string>
		<string>uni0004</string>
		<string>uni0003</string>
		<string>uni0005</string>
		<string>uni0006</string>
		<string>uni0007</string>
		<string>uni0008</string>
		<string>uni0016</string>
		<string>uni0015</string>
		<string>uni0017</string>
		<string>uni0019</string>
		<string>uni0018</string>
		<string>US</string>
	</array>
</dict>
</plist>
